version: '3.8'

services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    ports:
      - "8000:8000"
    volumes:
      - ../backend/app:/app/app
      - ../data:/app/data

  frontend:
    image: nginx:alpine
    volumes:
      - ../frontend/index.html:/usr/share/nginx/html/index.html
    ports:
      - "3000:80"
